body{
    display: flex;
    background-image:url("Background.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
    font-size: 25px;
}

.zoneDeJeu{
    display: flex;
    justify-content:space-around;
    
}

.Monsters{
    display: flex;
}

.MonsterBoss{
    display: flex;
    
}

.Minons{
    display: flex;
    flex-direction: column;
    
}

.heroes{
    display:flex;
    justify-content: right;
}

.heroes1{
    display:flex;
    flex-direction: column;
    transform: scaleX(-1);
}

.heroes2{
    display:flex;
    flex-direction: column;
    transform: scaleX(-1);
}

.Stats{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.StatsPersos{
    display: flex;
    flex-direction: row-reverse;
}

.actionsTour{
    display: flex;
    align-items: flex-end;

}

.StatsMonstres{
    display: flex;
    flex-direction: row-reverse;
}